<header>
  <h1>Angular + D3js</h1>
  <button class="btn btn-primary" (click)="letolt()">Önéletrajz letöltése</button>&nbsp;
  <button class="btn btn-success" style="background-color: #04AA6D;" (click)="letolt_excel()">Kimutatás letöltése</button>&nbsp;
  <button class="btn btn-success" style="background-color: orange;" (click)="hiv()">Github repo</button>
</header>

<app-users></app-users>
<app-engagement ></app-engagement>
<app-dchg></app-dchg>
<app-trend></app-trend>
<app-countries></app-countries>